/* General Styles */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 40px;
}

.container__2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.parargraphs {
  width: 80vw;
  height: 8.625rem;
  text-align: center;
}

.par1 {
  font-family: 'Poppins-Light';
  color: var(--TXTCOLOR1);
  font-size: 2rem;
}
.par2 {
  font-family: 'Poppins-Bold';
  color: var(--TXTCOLOR1);
  font-size: 2rem;
}
.par3 {
  font-family: 'Poppins';
  color: var(--TXTCOLOR2);
  font-size: .9rem;
  margin-top: 0.9rem;
}

.box, .middle-box {
  width: max(23vw, 300px);
  background-color: var(--BOX-BGCOLOR);
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(116, 113, 113, 0.15);
  padding: 26px;
  position: relative;
}

.box {
  height: 476px;
}
.middle-box {
  height: 238px;
}

#supervisor, #calculator {
  height: 228px;
}

.team-builder {
  margin-bottom: 30px;
}

.line {
  height: 4px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: 0;
  left: 0px;
}

.light-blue {
  background-color: rgb(60, 185, 184);
}
.red {
  background-color: rgb(235, 83, 84);
}
.orange {
  background-color: rgb(251, 173, 75);
}
.blue {
  background-color: rgb(94, 156, 222);
}

.box__p1 {
  font-family: 'Poppins-Bold';
  font-size: 1.25rem;
  color: var(--TXTCOLOR1);
  margin-bottom: 6px;
}

.box__p2 {
  font-size: 0.8rem;
  color: var(--TXTCOLOR2);
  line-height: 1.6;
}

.figure {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: end;
  align-items: end;
}

@media (min-width: 500px) and (max-width: 800px) {
  .container {
      grid-template-columns: 1fr;
      row-gap: 30px;
  }
  .container__2 {
      grid-template-columns: 1fr;
  }
  .box, .middle-box {
    width: 70vw;
  }
}